<mat-sidenav-container class="match-parent">
  <mat-sidenav class="match-parent-side"
               [fixedInViewport]="true"
               #sidenav
               [mode]="enoughWidth()?'side':'over'"
               [opened]="true">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]="'General Settings'"
                 [sidenav]="sidenav"
                 [showProgress]="false">
    </app-toolbar>

    <div class="container d-flex flex-column justify-content-center align-items-center stock-new-wrapper">
      <form [formGroup]="settingsForm" style="margin-top: 16px" class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
        <h4>Printer</h4>
        <mat-card class="mat-elevation-z0">
          <mat-card-content>
            <div class="d-flex flex-row align-items-center">
              <mat-card-subtitle>Allow to sale without printer</mat-card-subtitle>
              <span class="toolbar-spacer"></span>
              <mat-slide-toggle
                formControlName="saleWithoutPrinter"
                matTooltip="If you disable you wont sale without printer" color="primary"
                labelPosition="after">
              </mat-slide-toggle>
            </div>

            <div style="margin-top: 16px">
              <!--              <mat-card-subtitle>Header message</mat-card-subtitle>-->
              <mat-form-field appearance="fill">
                <mat-label>Header</mat-label>
                <textarea matTooltip="This content will be shown on top of a receipt when printed"
                          formControlName="printerHeader"
                          placeholder="Type here..." matInput type="text" [rows]="6">
                </textarea>
              </mat-form-field>
            </div>

            <div style="margin-top: 16px">
              <!--              <mat-card-subtitle>Header message</mat-card-subtitle>-->
              <mat-form-field appearance="fill">
                <mat-label>Footer</mat-label>
                <textarea matTooltip="This content will be shown on bottom of a receipt when printed"
                          formControlName="printerFooter"
                          placeholder="Type here..." matInput type="text" [rows]="6">
                </textarea>
              </mat-form-field>
            </div>

          </mat-card-content>
        </mat-card>
        <button [disabled]="getSettingsProgress" style="margin-top: 16px; margin-bottom: 16px" color="primary"
                mat-flat-button
                (click)="saveSettings()"
                class="btn-block ft-button">Update Settings
          <mat-progress-spinner *ngIf="getSettingsProgress" [diameter]="30" color="primary"
                                mode="indeterminate"></mat-progress-spinner>
        </button>
      </form>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

