<div style="min-width: 300px">
  <div mat-dialog-title>Create User</div>
  <div mat-dialog-content>
    <form class="d-flex flex-column" [formGroup]="newUserForm" (ngSubmit)="createUser()">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required>
        <mat-error>Username required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input autocomplete="false" matInput type="text" formControlName="password" required>
        <mat-error>Password required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="role">
          <mat-option value="manager">MANAGER</mat-option>
          <mat-option value="user">SELLER</mat-option>
        </mat-select>
        <mat-error>Role required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Shop ( s )</mat-label>
        <mat-select [multiple]="true" formControlName="shops">
          <mat-option *ngFor="let shop of shops | async" [value]="shop">{{shop.businessName}}</mat-option>
        </mat-select>
        <mat-error>Shop ( s ) required</mat-error>
      </mat-form-field>

      <button color="primary" [disabled]="createUserProgress" mat-flat-button class="ft-button">
        Save
        <mat-progress-spinner style="display: inline-block" *ngIf="createUserProgress" [diameter]="20"
                              mode="indeterminate"></mat-progress-spinner>
      </button>
      <span style="margin-bottom: 8px"></span>
      <button color="warn" mat-button (click)="cancel($event)">
        Close
      </button>
    </form>
  </div>
</div>
