<mat-sidenav-container class="match-parent">

  <mat-sidenav class="match-parent-side" #sidenav [mode]="enoughWidth()?'side':'over'" [opened]="enoughWidth()">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content (swiperight)="openDrawer(sidenav)">
    <app-toolbar [heading]="'Account'" [sidenav]="sidenav"></app-toolbar>

    <div>
      <mat-list>
        <mat-list-item matRipple routerLink="/settings/general">
          <mat-icon matListIcon>settings</mat-icon>
          <h3 matLine>Settings</h3>
          <p matLine>
            <span>printer & app settings</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple routerLink="/settings/bill">
          <mat-icon matListIcon>payment</mat-icon>
          <h3 matLine>Billing</h3>
          <p matLine>
            <span>bills & receipts</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple routerLink="/settings/users">
          <mat-icon matListIcon>supervised_user_circle</mat-icon>
          <h3 matLine>Users</h3>
          <p matLine>
            <span>seller & managers settings</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/settings/profile" matRipple>
          <mat-icon matListIcon>person</mat-icon>
          <h3 matLine>Profile</h3>
          <p matLine>
            <span>Your details</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/shop" matRipple>
          <mat-icon matListIcon>store</mat-icon>
          <h3 matLine>Shops</h3>
          <p matLine>
            <span>change shop & manage</span>
          </p>
        </mat-list-item>
        <!--        <mat-divider></mat-divider>-->
      </mat-list>
    </div>

    <app-bottom-bar *ngIf="isMobile && !enoughWidth()"></app-bottom-bar>

  </mat-sidenav-content>

</mat-sidenav-container>

