<div>
  <mat-sidenav-container class="my-drawer-container">

    <mat-sidenav
      [fixedInViewport]="true"
      class="match-parent-side"
      #sidenav [mode]="enoughWidth()?'side':'over'"
      [opened]="enoughWidth()">
      <app-admin-drawer></app-admin-drawer>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-toolbar [heading]="'DASHBOARD'" [sidenav]="sidenav" [showProgress]="false"></app-toolbar>

      <div style="margin-top: 24px" class="container d-flex justify-content-center align-items-center">
        <mat-card class="mat-elevation-z0">
          <mat-card-content>
            <img src="/assets/img/data.svg" width="200" height="200">
          </mat-card-content>
          <mat-card-subtitle>Reports are not ready yet</mat-card-subtitle>
        </mat-card>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
