<app-check-user-progress *ngIf="!isLogin"></app-check-user-progress>
<mat-sidenav-container *ngIf="isLogin" class="match-parent">

  <mat-sidenav class="match-parent-side" #sidenav mode="over" [opened]="false">
    <app-nav *ngIf="isAdmin"></app-nav>
    <div *ngIf="!isAdmin">
      <div class="dawer-head"></div>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            Dashboard
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            Sale
          </mat-expansion-panel-header>
          <mat-action-list>
            <button mat-list-item="">Retails</button>
            <button mat-list-item>WholeSale</button>
            <button mat-list-item>NHIF</button>
            <button mat-list-item>Night Sale</button>
          </mat-action-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            Profile
          </mat-expansion-panel-header>
          <mat-action-list>
            <button mat-list-item="">View</button>
            <button mat-list-item="">Logout</button>
          </mat-action-list>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="sticky-top">
      <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></mat-progress-bar>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="openDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>SSM-Purchase</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item (click)="home()">
            <mat-icon>home</mat-icon>
            Home
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>arrow_back</mat-icon>
            Logout
          </button>
        </mat-menu>
      </mat-toolbar>
    </nav>

    <div class="container">
      <div class="row" style="margin: 16px">

        <div class="col-12">
          <mat-form-field class="my-input">
            <input type="text" placeholder="Product Name" matInput [formControl]="productNameControlInput"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let purchaseP of purchaseProducts | async" [value]="purchaseP.product"
                          (onSelectionChange)="updateSelectedStock(purchaseP)">
                {{purchaseP.product}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-card class="full-width col-lg-4 col-sm-12 col-md-6 col-xl-4 col-12" style="margin-bottom: 16px">
          <mat-form-field class="my-input">
            <input matInput [matDatepicker]="pickerPurchase" placeholder="Purchase Date"
                   [formControl]="purchaseDateControlInput">
            <mat-datepicker-toggle matSuffix [for]="pickerPurchase"></mat-datepicker-toggle>
            <mat-datepicker #pickerPurchase></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="my-input">
            <input matInput [matDatepicker]="pickerDue" placeholder="Due Date" [formControl]="dueDateControlInput">
            <mat-datepicker-toggle matSuffix [for]="pickerDue"></mat-datepicker-toggle>
            <mat-datepicker #pickerDue></mat-datepicker>
          </mat-form-field>
          <mat-card-content>

            <mat-form-field class="my-input" *ngIf="!showCreditPurchase">
              <input type="text" placeholder="Receipt#" matInput [formControl]="receipNumberControlInput"
                     [matAutocomplete]="autoReceipts">
              <mat-autocomplete #autoReceipts="matAutocomplete">
                <mat-option *ngFor="let receipt of receipts | async" [value]="receipt.reference">
                  {{receipt.reference}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="my-input" *ngIf="showCreditPurchase">
              <input type="text" placeholder="Invoice#" matInput [formControl]="invoiceNumberControlInput"
                     [matAutocomplete]="autoReceipts">
              <mat-autocomplete #autoReceipts="matAutocomplete">
                <mat-option *ngFor="let receipt of receipts | async" [value]="receipt.reference">
                  {{receipt.reference}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="my-input">
              <input type="text" placeholder="Supplier" matInput [formControl]="supplierControlInput"
                     [matAutocomplete]="autoSupplier">
              <mat-autocomplete #autoSupplier="matAutocomplete">
                <mat-option *ngFor="let supplier of suppliers | async" [value]="supplier.name">
                  {{supplier.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-slide-toggle style="margin-top: 16px; bottom: 16px" [formControl]="creditPurchaseButton">Credit
              Purchase?
            </mat-slide-toggle>

            <!--<mat-form-field class="my-input">-->
            <!--<input type="text" placeholder="Unit" matInput [formControl]="unitsControlInput"-->
            <!--[matAutocomplete]="autoUnits">-->
            <!--<mat-autocomplete #autoUnits="matAutocomplete">-->
            <!--<mat-option *ngFor="let unit of units | async" [value]="unit.name">-->
            <!--{{unit.name}}-->
            <!--</mat-option>-->
            <!--</mat-autocomplete>-->
            <!--</mat-form-field>-->
            <mat-form-field class="my-input">
              <input matInput type="number" placeholder="Quantity" [formControl]="quantityControlInput" required>
            </mat-form-field>
            <mat-form-field class="my-input">
              <input matInput type="number" placeholder="Purchase Price ( TZS )"
                     [formControl]="purchasePriceControlInput">
            </mat-form-field>

            <mat-form-field class="my-input">
              <input matInput [matDatepicker]="picker" placeholder="Expire Date" [formControl]="expireDateControlInput">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <!--<mat-radio-group class="my-input">-->
            <!--<mat-radio-button [value]="true">Normal</mat-radio-button>-->
            <!--<mat-radio-button>R.Wholesale</mat-radio-button>-->
            <!--<mat-radio-button>NHIF</mat-radio-button>-->
            <!--</mat-radio-group>-->
            <!--<mat-slide-toggle class="my-input space" [formControl]="retailWholesaleRadioInput">-->
            <!--R.Wholesale-->
            <!--</mat-slide-toggle>-->
            <!--<mat-divider></mat-divider>-->
            <!--<mat-slide-toggle class="my-input space" [formControl]="nhifRadioInput">-->
            <!--NHIF-->
            <!--</mat-slide-toggle>-->
            <!--<mat-divider></mat-divider>-->
            <!--<mat-slide-toggle class="space my-input">-->
            <!--N\N-->
            <!--</mat-slide-toggle>-->
            <!--<mat-divider></mat-divider>-->

            <button *ngIf="!showProgress" mat-raised-button color="primary" class="space my-input rounded"
                    (click)="addNewPurchase()">
              Purchase
            </button>

            <!--<mat-form-field class="my-input">-->
            <!--<input matInput [formControl]="receiveControlInput" placeholder="Receive" type="number">-->
            <!--</mat-form-field>-->
            <mat-card-subtitle>Retail Profit ( TZS )</mat-card-subtitle>
            <mat-card-title>{{showRetailProfit}}</mat-card-title>

            <mat-card-subtitle>Wholesale Profit ( TZS )</mat-card-subtitle>
            <mat-card-title>{{wholesaleProfit}}</mat-card-title>

          </mat-card-content>
        </mat-card>

        <div class="full-width col-lg-8 col-sm-12 col-md-6 col-xl-8 col-12">
          <mat-tab-group color="warn" backgroundColor="primary">
            <mat-tab label="Purchase Cart">
              <div>
                <table mat-table [dataSource]="stockDatasource" class=" mat-elevation-z8">
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date}}</td>
                    <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                  </ng-container>
                  <ng-container matColumnDef="due">
                    <th mat-header-cell *matHeaderCellDef>Due</th>
                    <td mat-cell *matCellDef="let element">{{element.due}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef>Reference</th>
                    <td mat-cell *matCellDef="let element">{{element.reference}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                    <td mat-footer-cell *matFooterCellDef><b>{{totalPurchase| currency:'TZS':'code'}}</b></td>
                  </ng-container>
                  <ng-container matColumnDef="expire">
                    <th mat-header-cell *matHeaderCellDef>Expire</th>
                    <td mat-cell *matCellDef="let element">{{element.expire}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                      <div class="row">
                        <!--<div class="col-6">-->
                          <!--<button mat-icon-button (click)="editStock(element)">-->
                            <!--<mat-icon color="primary">edit</mat-icon>-->
                          <!--</button>-->
                        <!--</div>-->
                        <div class="col-12">
                          <button mat-icon-button (click)="deleteStock(element)">
                            <mat-icon color="primary">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="purchaseColums"></tr>
                  <tr mat-row *matRowDef="let row; columns: purchaseColums;"></tr>
                  <tr mat-footer-row style="font-size: 20px" *matFooterRowDef="purchaseColums"></tr>

                </table>
              </div>

            </mat-tab>
            <mat-tab label="All Stock">
              <mat-form-field class="my-input" style="margin-top: 8px">
                <input matInput placeholder="Search" type="text" [formControl]="searchStockControl"/>
              </mat-form-field>
              <div>
                <table mat-table [dataSource]="stockDatasource" class=" mat-elevation-z8">
                  <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef>Product</th>
                    <td mat-cell *matCellDef="let element">{{element.product}}</td>
                    <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                  </ng-container>
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">{{element.category}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef>Supplier</th>
                    <td mat-cell *matCellDef="let element">{{element.supplier}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="wholesaleQuantity">
                    <th mat-header-cell *matHeaderCellDef>W.Quantity</th>
                    <td mat-cell *matCellDef="let element">{{element.wholesaleQuantity}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="purchase">
                    <th mat-header-cell *matHeaderCellDef>Purchase (TZS)</th>
                    <td mat-cell *matCellDef="let element">{{element.purchase}}</td>
                    <td mat-footer-cell *matFooterCellDef><b>{{totalPurchase | currency:'TZS':'code'}}</b></td>
                  </ng-container>
                  <ng-container matColumnDef="retailPrice">
                    <th mat-header-cell *matHeaderCellDef>R.Price (TZS)</th>
                    <td mat-cell *matCellDef="let element">{{element.retailPrice}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="retailWholesalePrice">
                    <th mat-header-cell *matHeaderCellDef>R.W.Price (TZS)</th>
                    <td mat-cell *matCellDef="let element">{{element.retailWholesalePrice}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="wholesalePrice">
                    <th mat-header-cell *matHeaderCellDef>W.Price (TZS)</th>
                    <td mat-cell *matCellDef="let element">{{element.wholesalePrice}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="nhifPrice">
                    <th mat-header-cell *matHeaderCellDef>NHIF Price (TZS)</th>
                    <td mat-cell *matCellDef="let element">{{element.nhifPrice}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="expire">
                    <th mat-header-cell *matHeaderCellDef>Expire</th>
                    <td mat-cell *matCellDef="let element">{{element.expire}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                      <div class="row">
                        <div class="col-6">
                          <button mat-icon-button (click)="editStock(element)">
                            <mat-icon color="primary">edit</mat-icon>
                          </button>
                        </div>
                        <div class="col-6">
                          <button mat-icon-button (click)="deleteStock(element)">
                            <mat-icon color="primary">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="stockColums"></tr>
                  <tr mat-row *matRowDef="let row; columns: stockColums;"></tr>
                  <tr mat-footer-row style="font-size: 20px" *matFooterRowDef="stockColums"></tr>

                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

