<div class="my-side-nav">
  <div>
    <div class="d-flex justify-content-center align-items-center flex-column" style="padding-bottom: 8px">
      <div style="padding: 16px; justify-content: center; align-items: center">
        <mat-icon style="width: 70px; height: 70px; font-size: 70px" color="primary">store</mat-icon>
      </div>
      <span style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;"
            *ngIf="shop">{{shop.businessName}}</span>
      <span style="width: 4px; height: 4px"></span>
      <button style="width: 80%"
              color="primary"
              class="btn-block"
              routerLink="/shop" mat-button>
        Change Shop
      </button>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <mat-divider></mat-divider>
    </div>

    <mat-accordion [multi]="true" class="mat-elevation-z0">
      <mat-expansion-panel *ngIf="currentUser && (currentUser.role==='admin')"
                           [expanded]="shouldExpand('dashboard')"
                           class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon matPrefix color="primary">dashboard</mat-icon>
          <span style="margin-left: 8px">Dashboard</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/dashboard">General</a>


          <mat-expansion-panel style="margin-left: -7px;" *ngIf="currentUser && (currentUser.role==='admin')" class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <span >Reports</span>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/dashboard/sales-reports"> Sales Reports</a>
              <a mat-list-item routerLink="/dashboard/stock-reports"> Stock Reports</a>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-nav-list>
      </mat-expansion-panel>

      <mat-divider *ngIf="currentUser && currentUser.role==='admin'"></mat-divider>

      <mat-expansion-panel [expanded]="shouldExpand('sale')" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon matPrefix color="primary">shop_front</mat-icon>
          <span style="margin-left: 8px">Sale</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="shop && (shop.settings.allowRetail===undefined?true:shop.settings.allowRetail)" mat-list-item
             routerLink="/sale/retail">Retails</a>
          <a *ngIf="shop && (shop.settings.allowWholesale===undefined?true:shop.settings.allowWholesale)" mat-list-item
             routerLink="/sale/whole">WholeSale</a>
          <!--          <a mat-list-item routerLink="/sale/report">Quick Reports</a>-->
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-divider></mat-divider>

      <mat-expansion-panel *ngIf="currentUser && (currentUser.role==='admin' || currentUser.role === 'manager')"
                           [expanded]="shouldExpand('purchase')" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon matPrefix color="primary">receipts</mat-icon>
          <span style="margin-left: 8px">Purchase</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/purchase">All Purchases</a>
          <a mat-list-item routerLink="/purchase/create">New Purchase</a>
          <a mat-list-item routerLink="/stock" [queryParams]="{t:3}">Suppliers</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-divider *ngIf="currentUser && (currentUser.role==='admin' || currentUser.role === 'manager')"></mat-divider>

      <mat-expansion-panel *ngIf="currentUser && (currentUser.role==='admin' || currentUser.role === 'manager')"
                           [expanded]="shouldExpand('stock')" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon matPrefix color="primary">store</mat-icon>
          <span style="margin-left: 8px">Stock</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/stock" [queryParams]="{t:'0'}">Products</a>
          <a mat-list-item routerLink="/stock" [queryParams]="{t:'1'}">Categories</a>
          <a mat-list-item routerLink="/stock" [queryParams]="{t:'2'}">Units</a>
          <a mat-list-item routerLink="/stock" [queryParams]="{t:'3'}">Suppliers</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-divider *ngIf="currentUser && (currentUser.role==='admin' || currentUser.role === 'manager')"></mat-divider>

      <mat-expansion-panel [expanded]="shouldExpand('settings')"
                           class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon matPrefix color="primary">supervisor_account</mat-icon>
          <span style="margin-left: 8px">Account</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="currentUser && (currentUser.role==='admin' || currentUser.role==='manager')" mat-list-item
             routerLink="/settings/general">
            <div class="d-flex flex-row flex-nowrap btn-block">
              <span>Settings</span>
              <span class="flex-grow-1"></span>
              <mat-icon color="primary">settings</mat-icon>
            </div>
          </a>
          <a *ngIf="currentUser && (currentUser.role === 'admin' || currentUser.role === 'manager')" mat-list-item
             routerLink="/settings/bill">
            <div class="d-flex flex-row flex-nowrap btn-block">
              <span>Billing</span>
              <span class="flex-grow-1"></span>
              <mat-icon color="primary">payment</mat-icon>
            </div>
          </a>
          <a *ngIf="currentUser && ( currentUser.role==='admin' || currentUser.role==='manager')" mat-list-item
             routerLink="/settings/users">
            <div class="d-flex flex-row flex-nowrap btn-block">
              <span>Users</span>
              <span class="flex-grow-1"></span>
              <mat-icon color="primary">person_add</mat-icon>
            </div>
          </a>
          <a mat-list-item routerLink="/settings/profile">
            <div class="d-flex flex-row flex-nowrap btn-block">
              <span>Profile</span>
              <span class="flex-grow-1"></span>
              <mat-icon color="primary">person</mat-icon>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <span style="flex-grow: 1"></span>
  <div style="display: flex; justify-content: center; align-items: center">
    <span>Ver: {{versionNumber | async}}</span>
  </div>
</div>
