<mat-sidenav-container class="match-parent">

  <mat-sidenav class="match-parent-side" #sidenav [mode]="enoughWidth()?'side':'over'" [opened]="enoughWidth()">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]="'Add Purchase'"
                 [showSearch]="false"
                 [sidenav]="sidenav"
                 [showProgress]="false">
    </app-toolbar>

    <div style="margin-top: 16px" class="container">
      <form [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">
        <div class="row d-flex justify-content-center align-items-center">

          <div class="col-12 col-xl-9 col-lg-9">
            <h4>
              Information
            </h4>
            <mat-card class="mat-elevation-z0">
              <mat-card-content class="card-content">

                <mat-slide-toggle style="margin-bottom: 8px; margin-top: 8px"
                                  color="primary" labelPosition="after"
                                  [formControl]="isInvoiceFormControl"
                                  label="Invoice purchase">
                  Invoice purchase
                </mat-slide-toggle>
                <mat-form-field appearance="fill" class="my-input">
                  <mat-label>ref #</mat-label>
                  <input matInput formControlName="refNumber">
                  <mat-error>Purchase reference number required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="my-input">
                  <mat-label>Supplier</mat-label>
                  <mat-select formControlName="supplier">
                    <mat-option *ngFor="let supplier of suppliers | async" [value]="supplier">
                      {{supplier.name}}
                    </mat-option>
                  </mat-select>
                  <mat-progress-spinner matTooltip="Fetching suppliers"
                                        *ngIf="supplierFetching" matSuffix color="accent"
                                        mode="indeterminate"
                                        [diameter]="20"></mat-progress-spinner>
                  <mat-error>Supplier required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="my-input">
                  <mat-label>Purchase Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="isInvoiceFormControl.value" appearance="fill" class="my-input">
                  <mat-label>Due Date</mat-label>
                  <input matInput [matDatepicker]="pickerDue" formControlName="due">
                  <mat-datepicker-toggle matSuffix [for]="pickerDue"></mat-datepicker-toggle>
                  <mat-datepicker [touchUi]="true" #pickerDue></mat-datepicker>
                </mat-form-field>

              </mat-card-content>

            </mat-card>

            <h4>
              Items
            </h4>

            <mat-card class="mat-elevation-z0">
              <mat-card-content class="card-content">

                <div formArrayName="items" (click)="$event.preventDefault()">
                  <div *ngFor="let item of invoiceItems.controls; let i=index">
                    <div [formGroupName]="i"
                         class="d-flex flex-column align-items-start justify-content-start">
                      <div class="flex-grow-0">

                        <div formGroupName="product">
                          <mat-form-field class="my-input" appearance="fill">
                            <mat-label>Product</mat-label>
                            <input matInput formControlName="product" type="text" [readonly]="true" required>
                            <mat-error>Product is required</mat-error>
                          </mat-form-field>
                        </div>

                        <mat-form-field appearance="fill" class="my-input">
                          <mat-label>Expire Date</mat-label>
                          <input matInput [matDatepicker]="picker" formControlName="expire">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Purchase Price</mat-label>
                          <input type="number" (keyup)="checkKey($event)" (keydown)="checkKey($event)"
                                 (change)="updateAmount(item)" min="0"
                                 formControlName="purchase" matInput
                                 required>
                          <mat-error>Purchase price required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Retail Price</mat-label>
                          <input type="number" min="0"
                                 formControlName="retailPrice" matInput
                                 required>
                          <mat-error>Retail price required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Wholesale Price</mat-label>
                          <input type="number" min="0"
                                 formControlName="wholesalePrice" matInput
                                 required>
                          <mat-error>Wholesale price required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Wholesale Quantity</mat-label>
                          <input type="number" min="0"
                                 formControlName="wholesaleQuantity" matInput
                                 required>
                          <mat-error>Wholesale quantity required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Quantity</mat-label>
                          <input type="number" (keyup)="checkKey($event)" (keydown)="checkKey($event)"
                                 (change)="updateAmount(item)" min="0"
                                 formControlName="quantity" matInput
                                 required>
                          <mat-error>Quantity required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="my-input" appearance="fill">
                          <mat-label>Amount</mat-label>
                          <input type="number" min="0" formControlName="amount" matInput [readonly]="true" required>
                          <mat-error>Amount required</mat-error>
                        </mat-form-field>

                      </div>

                      <div class="flex-grow-0">
                        <button matTooltip="Remove this item"
                                (click)="removeItem(i, $event)"
                                mat-flat-button
                                class="ft-button"
                                color="warn">
                          Remove Item
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>

                <mat-form-field appearance="outline" class="my-input">
                  <mat-label>Search Product</mat-label>
                  <input matInput type="text"
                         [matAutocomplete]="autocomplete" [formControl]="searchProductFormControl">
                  <!--                  <mat-error>Field required</mat-error>-->
                  <mat-progress-spinner matSuffix mode="indeterminate" [diameter]="20"
                                        *ngIf="searchProductProgress"
                                        color="accent">
                  </mat-progress-spinner>
                </mat-form-field>

                <mat-autocomplete #autocomplete>
                  <mat-option (onSelectionChange)="selectedProduct = product"
                              *ngFor="let product of products | async"
                              [value]="product.product">
                    {{product.product}}
                  </mat-option>
                </mat-autocomplete>

                <button matTooltip="Add new item"
                        (click)="addItem($event)"
                        class="ft-button"
                        mat-flat-button color="primary">
                  Add Item
                </button>

              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-12 col-xl-9 col-lg-9">
            <h4>
              Status
            </h4>
            <mat-card class="mat-elevation-z0">
              <mat-card-content class="card-content">
                <mat-form-field class="my-input" appearance="outline">
                  <mat-label>Total Amount</mat-label>
                  <input matInput type="number" formControlName="amount"
                         [readonly]="true" required>
                  <mat-error>Amount required</mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <button [disabled]="saveInvoiceProgress"
                    class="btn-block ft-button" mat-flat-button
                    color="primary">
              Save And Record
              <mat-progress-spinner style="display: inline-block"
                                    *ngIf="saveInvoiceProgress" mode="indeterminate"
                                    [diameter]="15"
                                    color="accent">
              </mat-progress-spinner>
            </button>
            <div style="margin-bottom: 48px"></div>
          </div>

        </div>
      </form>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

