<section class="header">
  <mat-toolbar>
    <a routerLink="/" class="h4 font-weight-bold">SmartStock</a>
    <!--    <a href="" class="link">Show me</a>-->
    <span style="flex: 1 1 auto"></span>
    <a routerLink="/login" class="link">SignIn</a>
    <a routerLink="/register" class="link ">Register</a>
  </mat-toolbar>
  <div class="header-jumbo">
    <h4 class="col-md-6">You can’t continue using papers to keep records of your business.</h4>
    <p style="padding: 10px 10px 20px 10px">Start your sales with us, today</p>
    <a routerLink="/login" class=" header-btn"> Get Started</a>
  </div>
</section>


<section class="why-smartstock">
  <h3>Why Smartstock?</h3>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../../../assets/img/everyWhere_icon.png">
      <h4>Work everywhere</h4>
      <p>Due to internet connectivity challenge
        our service available offline and online</p>
    </div>
    <div class="col-md-3 text-center">
      <img src="../../../assets/img/“99.9%25”.png" width="50%" style="padding: 40px 10px">
      <h4>Always available</h4>
      <p>You will never experience down
        time or have to wait for something</p>
    </div>
    <div class="col-md-3 text-center">
      <img src="../../../assets/img/customisable_icon.png">
      <h4>Customizable</h4>
      <p>Say how you want it to work for you
        and it will work the way you want</p>
    </div>
  </div>
</section>


<section>

<!--  <mat-carousel-->
<!--    timings="250ms ease-in"-->
<!--    [autoplay]="false"-->
<!--    interval="400"-->
<!--    color="primary"-->
<!--    maxWidth="500"-->
<!--    proportion="30"-->
<!--    slides="5"-->
<!--    [loop]="true"-->
<!--    [hideArrows]="false"-->
<!--    [hideIndicators]="true"-->
<!--    [useKeyboard]="false"-->
<!--    [useMouseWheel]="false"-->
<!--    orientation="ltr"-->
<!--    overlay-origin="false"-->
<!--  >-->
<!--    &lt;!&ndash;[image]="slide.image"&ndash;&gt;-->
<!--    <mat-carousel-slide-->
<!--      #matCarouselSlide overlayColor=" #F0F0F0"-->
<!--      *ngFor="let slide of slides; let i = index">-->
<!--      <div class="row testmon-container">-->

<!--        <div class="col-md-4 text-center testmon-info">-->
<!--          <h3>LB Pharmacy</h3>-->
<!--          <p class="details">-->
<!--            “Now I can see my business from far and be able to add purchases”-->
<!--          </p>-->
<!--          &lt;!&ndash;          <button mat-button><h3>Read</h3></button>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <img src="../../../assets/img/calculate.jpg" width="500px" height="300px">-->
<!--        </div>-->

<!--      </div>-->
<!--    </mat-carousel-slide>-->
<!--  </mat-carousel>-->
</section>


<section class="row sale-on-go">
  <img class="col-md-7" src="../../../assets/img/Rectangle12.png" height="400">
  <div class="col-md-4 text-center right-box">
    <h3>Sales on the go? <br>
      You will love our app, soon we will be available in play store and app store
    </h3>
  </div>
</section>
<app-footer></app-footer>
