#header {
  height: 100vh;
  margin-top: 0;
  background-image: url("../../assets/img/ssmbg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  background: url("../../assets/img/header.png") no-repeat center;
  background-size: cover;
  color: white;
}

mat-toolbar {
  background: none;
}

a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
}

.link {
  font-size: 16px;
  font-weight: 500;
}

.header-jumbo {
  margin-top: 20%;
}

.header-btn {
  margin-left: 10px;
  padding: 15px 50px;
  font-weight: 500;
  font-size: 36px;
  background: #00AA07;
  border-color: #00AA07;
  border-radius: 6px;
}


.why-smartstock {
  margin: 30px 50px 20px 50px;
}

.why-smartstock div {
  margin: 10px auto 20px auto;
}

.why-smartstock img {
  padding: 20px;
  margin-bottom: 10px;
  border-color: #00AA07;
  border-style: solid;
  border-radius: 7px;
}


.sale-on-go {
  margin: 50px 0;
}

.sale-on-go img {
  margin: 0;
  border-radius: 0 50px 0 0;
  padding: 0;
}


.sale-on-go .right-box {
  margin: 50px auto;
}


.testmon-container {
  align-content: center;
  margin: 50px 10% 50px 5%;
}

.testmon-info {
  margin: 20px auto;
}

.details {
  margin: 40px;
  color: #939393;
  font-size: 20px;
}

.testmon-info button {
  background-color: #00AA07;
  color: #ffffff;
  padding: 10px 60px 0 60px;
}

mat-carousel ::ng-deep mat-icon {
  font-size: 50px !important;
  color: #1b1e21;
}
