<div>
  <mat-progress-spinner mode="indeterminate" color="primary"
                        [diameter]="20" *ngIf="loadImageFlag">
  </mat-progress-spinner>
  <span *ngIf="loadImageFlag">Load Image</span>
  <div>
    <image-cropper
      style="max-height: 60vh"
      [imageChangedEvent]="fileEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="16 / 9"
      [imageQuality]="70"
      [autoCrop]="true"
      [alignImage]="'center'"
      [onlyScaleDown]="true"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </div>
  <div *ngIf="!loadImageFlag" style="padding: 16px">
    <button color="primary" (click)="closeDialog()" mat-button class="btn-block">Done</button>
  </div>
</div>
