<div class="profile-auth-wrapper">
  <mat-card class="mat-elevation-z0">
    <form *ngIf="!getUserProgress && authForm" [formGroup]="authForm"
          (ngSubmit)="changePassword()">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>Last Password</mat-label>
            <input matInput formControlName="lastPassword" [type]="showLastPassword?'text':'password'">
            <button (click)="toggleLastPasswordVisibility()" mat-icon-button matSuffix>
              <mat-icon *ngIf="showLastPassword">visibility_on</mat-icon>
              <mat-icon *ngIf="!showLastPassword">visibility_off</mat-icon>
            </button>
            <mat-error>last password required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" type="text" [type]="showPassword?'text':'password'">
            <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix>
              <mat-icon *ngIf="showPassword">visibility_on</mat-icon>
              <mat-icon *ngIf="!showPassword">visibility_off</mat-icon>
            </button>
            <mat-error>new password required, and must be at least 6 characters</mat-error>
          </mat-form-field>

        </div>

      </div>

      <div class="row">
        <button [disabled]="updateUserProgress" class="ft-button" mat-flat-button color="primary">
          CHANGE
          <mat-progress-spinner *ngIf="updateUserProgress"
                                style="display: inline-block" [diameter]="30"
                                mode="indeterminate"
                                color="primary"></mat-progress-spinner>
        </button>
      </div>

    </form>

    <mat-progress-spinner *ngIf="getUserProgress" mode="indeterminate" color="primary"
                          [diameter]="25"></mat-progress-spinner>

    <div *ngIf="!getUserProgress && !authForm">
      <mat-card-subtitle>
        Failure when try to fetch your personal information, try to refresh
      </mat-card-subtitle>
      <button (click)="_getCurrentUser()" mat-icon-button>
        <mat-icon color="primary">
          refresh
        </mat-icon>
      </button>
    </div>
  </mat-card>
</div>
