<div *ngIf="!isLoading" class="no-data-wrapper">
  <img src="/assets/img/empty.svg" width="200px" alt="">
  <h4>No Data</h4>
  <button (click)="callBack()" matTooltip="Try to refresh" mat-raised-button mat-icon-button>
    <mat-icon color="accent">
      refresh
    </mat-icon>
  </button>
</div>

<div *ngIf="isLoading" class="no-data-wrapper">
  <img src="/assets/img/data.svg" width="200px" alt="">
  <h4>Fetching data...</h4>
  <mat-progress-spinner color="accent" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
</div>
