<div>
  <form [formGroup]="createShopForm" (ngSubmit)="createShop()" class="create-shop-form-container">
    <mat-form-field appearance="">
      <mat-label>Shop Name</mat-label>
      <input matInput formControlName="businessName" placeholder="Shop Name">
      <mat-error>Shop name required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Shop Category</mat-label>
      <mat-select formControlName="category" class="" required="">
        <mat-option value="atrists_photographers_creative">Artists, Photographers &amp; Creative Types</mat-option>
        <mat-option value="consultants_professionals">Consultants &amp; Professionals</mat-option>
        <mat-option value="finance_insurance">Financial Services</mat-option>
        <mat-option value="product_provider">General: I make or sell a PRODUCT</mat-option>
        <mat-option value="service_provider">General: I provide a SERVICE</mat-option>
        <mat-option value="hair_spa_aesthetics">Hair, Spa &amp; Aesthetics</mat-option>
        <mat-option value="medical_dental_health_service">Medical, Dental, Health</mat-option>
        <mat-option value="nonprofit_associations_groups">Non-profits, Associations &amp; Groups</mat-option>
        <mat-option value="realestate_home">Real Estate, Construction &amp; Home Improvement</mat-option>
        <mat-option value="retailers_and_resellers">Retailers, Resellers &amp; Sales</mat-option>
        <mat-option value="web_media_freelancer">Web, Tech &amp; Media</mat-option>
      </mat-select>
      <mat-error>Choose category</mat-error>
    </mat-form-field>

    <mat-form-field appearance="">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" placeholder="Country">
      <mat-error>Country required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="">
      <mat-label>Region</mat-label>
      <input matInput formControlName="region" placeholder="Region">
      <mat-error>Region required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Street/ Location">
      <mat-error>Street required</mat-error>
    </mat-form-field>


    <div mat-dialog-actions class="d-flex flex-row align-items-end align-self-end">
      <button class="ft-button" mat-button color="primary" (click)="closeDialog($event)">
        Close
      </button>
      <button [disabled]="createShopProgress" class="ft-button" color="primary" mat-raised-button>
        Create Shop
        <mat-progress-spinner style="display: inline-block" *ngIf="createShopProgress" mode="indeterminate"
                              color="primary" [diameter]="20"></mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
