<nav class="sticky-top mat-elevation-z3">
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></mat-progress-bar>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{heading}}</span>
    <span class="toolbar-spacer d-flex justify-content-center align-items-center">
      <input [formControl]="searchInputControl"
             *ngIf="showSearch"
             class="toolbar-input" type="text" placeholder="{{searchPlaceholder}}">
            <mat-progress-spinner style="display: inline-block; margin-left: -30px"
                                  mode="indeterminate" diameter="25"
                                  color="primary"
                                  *ngIf="showSearch && searchProgressFlag"
                                  matSuffix>
              <mat-icon>search</mat-icon>
            </mat-progress-spinner>
    </span>
    <button *ngIf="noOfProductsInCart > 0" mat-icon-button (click)="cartdrawer.toggle()"
            [matBadge]="noOfProductsInCart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button class="ft-button" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="currentUser">{{"  " + currentUser.username}}</span>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-menu-item routerLink="/settings/profile">
        <mat-icon>person</mat-icon>
        My Profile
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>
