.row {
  margin: 2px;
}

.product-card-image {
  background: #C4C4C4;
  width: 30px;
  height: 60px;
}

.prod {
  font-size: 14px;
}

.cart-total {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h4 {
  margin-bottom: 0;
}

.cart-products {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
  align-items: center;
}

.cart-products-image {
  width: 60px;
  height: 60px;
  flex-grow: 0;
  border-radius: 4px;
}

.cart-products-detail {
  /*flex-grow: 1;*/
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  /*margin-bottom: -30px;*/
}

.cart-product-title {
  white-space: normal;
  text-overflow: ellipsis;
  color: black;
  font-size: 14px;
  margin: 0 auto;
}

.cart-products-action {
  /*flex-grow: 0;*/
  /*white-space: normal;*/
}

.cart-products-action a:hover {
  cursor: pointer;
}

.cart {
  height: 100vh;
  width: 380px;
}

.cart-mobile {
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.cart-up-down {
  padding: 0;
  font-size: 56px;
}

.cart-up-down:hover {
  cursor: pointer;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 5px;
  margin-right: -5px;
}
