<div class="login-wrapper">

  <div class="container login-sec">

    <div class="login-title text-center">
      Login
    </div>
    <div class="col-sm-12 col-12 col-md-6 col-xl-4 col-lg-6 offset-xl-4 offset-lg-3 offset-md-3">

      <mat-progress-bar *ngIf="showProgress"
                        class="full-width rounded-top"
                        mode="indeterminate">
      </mat-progress-bar>

      <form [formGroup]="loginForm" #formElement="ngForm" (ngSubmit)="login(formElement)">
        <mat-card>
          <mat-card-content>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" type="text" required>
              <mat-error>Username required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input (keypress)="handleEnterKey($event, formElement)" matInput
                     [type]="showPasswordFlag?'text':'password'" formControlName="password" required>
              <button matSuffix (click)="showPassword($event)" mat-icon-button>
                <mat-icon *ngIf="showPasswordFlag">visibility_on</mat-icon>
                <mat-icon *ngIf="!showPasswordFlag">visibility_off</mat-icon>
              </button>
              <mat-error>Password required</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions *ngIf="!showProgress">
            <button mat-raised-button
                    color="primary"
                    class="btn-block ft-button">
              Login
            </button>
          </mat-card-actions>
          <mat-card-actions *ngIf="!showProgress">
            <button routerLink="/register"
                    (click)="$event.preventDefault()"
                    mat-raised-button
                    color="primary"
                    class="btn-block ft-button">
              Open Account For Free
            </button>
          </mat-card-actions>
        </mat-card>
      </form>

    </div>

  </div>

  <footer>
    <!--      <div class="social">-->
    <!--        <a target="_blank" href="https://www.instagram.com/smartstockmanager/">-->
    <!--          <i class="icon ion-social-instagram"></i>-->
    <!--        </a>-->
    <!--        <a target="_blank" href="https://twitter.com/smartstockmanag">-->
    <!--          <i class="icon ion-social-twitter"></i>-->
    <!--        </a>-->
    <!--        <a target="_blank" href="https://fb.me/smartstockmanager">-->
    <!--          <i class="icon ion-social-facebook"></i>-->
    <!--        </a>-->
    <!--      </div>-->
    <div style="display: flex; flex-direction: row; padding: 8px; align-items: center;">
      <a *ngIf="isBrowser" style="color: white; padding: 8px" routerLink="/">
        Go Back Home
      </a>
      <a style="color: white; padding: 8px" href="#" (click)="reset($event)">
        Reset Password
      </a>
      <!--      <a style="color: white; padding: 8px" (click)="$event.preventDefault()" routerLink="/register">-->
      <!--        Register-->
      <!--      </a>-->
    </div>
    <p class="text-center" style="color: white; margin-top: 8px">FahamuTech © 2020</p>
  </footer>
</div>
