<!--<mat-sidenav-container class="match-parent">-->

<!--  <mat-sidenav class="match-parent-side" #sidenav [mode]="enoughWidth()?'side':'over'" [opened]="enoughWidth()">-->
<!--    <app-admin-drawer></app-admin-drawer>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--    <app-toolbar [heading]="'SSM-WholeSale'" [sidenav]="sidenav" [showProgress]="showProgress"></app-toolbar>-->
<!--    <div *ngIf="productsObservable && !fetchDataProgress"-->
<!--           style="padding: 8px;display: flex;flex-direction: row; flex-wrap: wrap">-->
<!--           <app-product-card [cartdrawer]="cartdrawer" [product]="product" [productIndex]="idx" [salesType]="'wholesale'" *ngFor="let product of productsObservable; let idx = index"></app-product-card>-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--  <mat-sidenav #cartdrawer [fixedInViewport]="false" position="end" [mode]="'side'" [opened]="false" >-->
<!--    <app-cart [cartdrawer]="cartdrawer" [isViewedInWholesale]="true"></app-cart>-->
<!--  </mat-sidenav>-->
<!--</mat-sidenav-container>-->


<!--<div *ngIf="" class="container-fluid" style="padding: 24px 48px; ">-->

<!--  <div class="row" style="margin: 8px">-->
<!--    <div class="col-12">-->
<!--      <div class="d-flex flex-row">-->
<!--        <mat-form-field appearance="outline" style="" class="flex-grow-1">-->
<!--          <mat-label>Product Name</mat-label>-->
<!--          <input type="text" placeholder="Product Name" matInput [formControl]="productNameControlInput"-->
<!--                 [matAutocomplete]="auto">-->
<!--          <mat-autocomplete #auto="matAutocomplete">-->
<!--            <mat-option *ngFor="let st of filteredOptions | async"-->
<!--                        [value]="st.product + ' &ndash;&gt;' + st.wholesalePrice + ' TZS/' + st.wholesaleQuantity+' '+st.unit"-->
<!--                        (onSelectionChange)="updateSelectedStock(st)">-->
<!--              {{st.product + ' &ndash;&gt;' + st.wholesalePrice + ' TZS/' + st.wholesaleQuantity + ' ' + st.unit}}-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--        </mat-form-field>-->

<!--        <div style="margin-top: 7px; margin-left: 4px; margin-right: 4px" class="flex-grow-0">-->
<!--          <button (click)="refreshProducts()" [disabled]="refreshProductsProgress" matTooltip="Refresh products"-->
<!--                  color="primary" mat-flat-button class="ft-button">-->
<!--            <mat-icon>refresh</mat-icon>-->
<!--            <mat-progress-spinner-->
<!--              *ngIf="refreshProductsProgress"-->
<!--              style="display: inline-block"-->
<!--              mode="indeterminate" color="primary"-->
<!--              [diameter]="20">-->
<!--            </mat-progress-spinner>-->
<!--          </button>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    <mat-card class="full-width col-lg-3 col-sm-12 col-md-4 col-xl-3 col-12 mat-elevation-z0"-->
<!--              style="margin-bottom: 16px">-->
<!--      <mat-card-content>-->
<!--        <mat-form-field style="width: 100%">-->
<!--          <input matInput placeholder="Customer Name" [formControl]="customerControl" required>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field class="my-input">-->
<!--          <input matInput type="number" placeholder="Quantity" [formControl]="quantityControlInput" required>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field class="my-input">-->
<!--          <input matInput type="number" placeholder="Discount ( TZS )" [formControl]="discountControlInput">-->
<!--        </mat-form-field>-->
<!--          <mat-slide-toggle class="my-input space" [formControl]="retailWholesaleRadioInput" *ngIf="false">-->
<!--          Wholesale-->
<!--        </mat-slide-toggle>  -->
<!--                    <mat-divider></mat-divider>-->
<!--&lt;!&ndash;<mat-radio-group class="my-input">&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-radio-button [value]="true">Normal</mat-radio-button>&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-radio-button>R.Wholesale</mat-radio-button>&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-radio-button>NHIF</mat-radio-button>&ndash;&gt;-->
<!--        &lt;!&ndash;</mat-radio-group>&ndash;&gt;-->
<!--    -->
<!--        &lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-slide-toggle class="my-input space" [formControl]="nhifRadioInput">&ndash;&gt;-->
<!--        &lt;!&ndash;NHIF&ndash;&gt;-->
<!--        &lt;!&ndash;</mat-slide-toggle>&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-slide-toggle class="space my-input">&ndash;&gt;-->
<!--        &lt;!&ndash;N\N&ndash;&gt;-->
<!--        &lt;!&ndash;</mat-slide-toggle>&ndash;&gt;-->
<!--        &lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--        <button *ngIf="!showProgress" mat-raised-button color="primary" class="space my-input rounded"-->
<!--                (click)="addToCart()">-->
<!--          <mat-icon>-->
<!--            add_shopping_cart-->
<!--          </mat-icon>-->
<!--          Add To Cart-->
<!--        </button>-->

<!--        &lt;!&ndash;            <mat-form-field class="my-input">&ndash;&gt;-->
<!--        &lt;!&ndash;              <input matInput [formControl]="receiveControlInput" placeholder="Receive" type="number">&ndash;&gt;-->
<!--        &lt;!&ndash;            </mat-form-field>&ndash;&gt;-->
<!--        &lt;!&ndash;            <mat-card-subtitle>Change ( TZS )</mat-card-subtitle>&ndash;&gt;-->
<!--        &lt;!&ndash;            <mat-card-title>{{changePrice}}</mat-card-title>&ndash;&gt;-->

<!--        &lt;!&ndash;            <mat-card-subtitle>Total ( TZS )</mat-card-subtitle>&ndash;&gt;-->
<!--        &lt;!&ndash;            <mat-card-title>{{totalPrice}}</mat-card-title>&ndash;&gt;-->

<!--        &lt;!&ndash;            <mat-card-subtitle>Price/Unit ( TZS )</mat-card-subtitle>&ndash;&gt;-->
<!--        &lt;!&ndash;            <mat-card-title>{{priceUnit}}</mat-card-title>&ndash;&gt;-->

<!--        &lt;!&ndash;            <mat-card-subtitle>Shelf</mat-card-subtitle>&ndash;&gt;-->
<!--        &lt;!&ndash;            <mat-card-title>{{stock.shelf}}</mat-card-title>&ndash;&gt;-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->

<!--    <div class="full-width col-lg-9 col-sm-12 col-md-8 col-xl-9 col-12">-->
<!--      <mat-tab-group [(selectedIndex)]="activeTab" dynamicHeight>-->

<!--        <mat-tab label="Cart">-->
<!--          <mat-card class="mat-elevation-z0">-->
<!--            <mat-card-content>-->
<!--              <table mat-table [dataSource]="cartDatasource">-->
<!--                <ng-container matColumnDef="product">-->
<!--                  <th mat-header-cell *matHeaderCellDef>Product</th>-->
<!--                  <td mat-cell *matCellDef="let element">{{element.product}}</td>-->
<!--                  <td mat-footer-cell *matFooterCellDef><b>Total</b></td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="quantity">-->
<!--                  <th mat-header-cell *matHeaderCellDef>Quantity</th>-->
<!--                  <td mat-cell *matCellDef="let element">{{element.quantity}}</td>-->
<!--                  <td mat-footer-cell *matFooterCellDef></td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="amount">-->
<!--                  <th mat-header-cell *matHeaderCellDef>Amount (TZ)</th>-->
<!--                  <td mat-cell *matCellDef="let element">{{element.amount}}</td>-->
<!--                  <td mat-footer-cell *matFooterCellDef><b>{{totalBill}}</b></td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="discount">-->
<!--                  <th mat-header-cell *matHeaderCellDef>Discount</th>-->
<!--                  <td mat-cell *matCellDef="let element">{{element.discount}}</td>-->
<!--                  <td mat-footer-cell *matFooterCellDef></td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="action">-->
<!--                  <th mat-header-cell *matHeaderCellDef>Action</th>-->
<!--                  <td mat-cell *matCellDef="let element">-->
<!--                    <button mat-icon-button color="primary" (click)="removeItemFromCart(element)">-->
<!--                      <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
<!--                  </td>-->
<!--                  <td mat-footer-cell *matFooterCellDef>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <tr mat-header-row *matHeaderRowDef="cartColums"></tr>-->
<!--                <tr mat-row *matRowDef="let row; columns: cartColums;"></tr>-->
<!--                <tr mat-footer-row style="font-size: 20px" *matFooterRowDef="cartColums"></tr>-->
<!--              </table>-->
<!--              <mat-paginator #cartPaginator [pageSizeOptions]="['10','50','100']"></mat-paginator>-->
<!--            </mat-card-content>-->
<!--            <mat-card-actions>-->
<!--              <div *ngIf="totalBill!==0">-->
<!--                <div *ngIf="!showProgress">-->
<!--                  <div>-->
<!--                    <mat-slide-toggle style="margin: 8px" [formControl]="traRadioControl"></mat-slide-toggle>-->
<!--                    <button color="primary" class="ft-button btn-block" [disabled]="printProgress" mat-flat-button-->
<!--                            (click)="printCart()">-->
<!--                      Submit-->
<!--                    </button>-->
<!--                    &lt;!&ndash;                              <button [disabled]="printProgress" mat-button="" color="primary" style="margin: 8px"&ndash;&gt;-->
<!--                    &lt;!&ndash;                                      (click)="saveOrder()">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <mat-icon>save</mat-icon>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                Save&ndash;&gt;-->
<!--                    &lt;!&ndash;                              </button>&ndash;&gt;-->
<!--                  </div>-->
<!--                  &lt;!&ndash;<div>&ndash;&gt;-->
<!--                  &lt;!&ndash;<button mat-button color="primary" style="margin: 8px" (click)="submitBill()">&ndash;&gt;-->
<!--                  &lt;!&ndash;Sale&ndash;&gt;-->
<!--                  &lt;!&ndash;</button>&ndash;&gt;-->
<!--                  &lt;!&ndash;</div>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </mat-card-actions>-->
<!--          </mat-card>-->
<!--        </mat-tab>-->

<!--        &lt;!&ndash;            <mat-tab label="Sales">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div>&ndash;&gt;-->

<!--        &lt;!&ndash;                <mat-form-field style="width: 100%; margin-top: 16px">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <input matInput placeholder="Search" type="text" [formControl]="searchSaleControl"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                </mat-form-field>&ndash;&gt;-->

<!--        &lt;!&ndash;                <table mat-table [dataSource]="salesDatasource" class="mat-elevation-z8">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="Date">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Date</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.date}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  &lt;!&ndash;<ng-container matColumnDef="product">&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                  &lt;!&ndash;<th mat-header-cell *matHeaderCellDef>Product</th>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                  &lt;!&ndash;<td mat-cell *matCellDef="let element">{{element.product}}</td>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                  &lt;!&ndash;<td mat-footer-cell *matFooterCellDef><b>Total</b></td>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                  &lt;!&ndash;</ng-container>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="product">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Product</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.product}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef><b>Total</b></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="quantity">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Quantity</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="amount">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Amount</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef><b>{{totalSaleAmount}}</b></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="discount">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Discount</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.discount}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->

<!--        &lt;!&ndash;                  <tr mat-header-row *matHeaderRowDef="saleColums"></tr>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <tr mat-row *matRowDef="let row; columns: saleColums;"></tr>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <tr mat-footer-row *matFooterRowDef="saleColums; sticky: true"></tr>&ndash;&gt;-->

<!--        &lt;!&ndash;                </table>&ndash;&gt;-->
<!--        &lt;!&ndash;                <mat-paginator #salePaginator [pageSizeOptions]="['10','50','100']"></mat-paginator>&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </mat-tab>&ndash;&gt;-->

<!--        &lt;!&ndash;            <mat-tab label="Orders">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div>&ndash;&gt;-->
<!--        &lt;!&ndash;                <mat-form-field style="width: 100%; margin-top: 16px">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <input matInput placeholder="Search" type="text" [formControl]="searchOrderControl"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                </mat-form-field>&ndash;&gt;-->

<!--        &lt;!&ndash;                <table mat-table [dataSource]="salesOrderDatasource" class="mat-elevation-z8">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="date">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Date</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.date}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef><b>Total</b></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="amount">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Amount</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef><b>{{totalOrder}}</b></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="customer">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Customer</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">{{element.customer}}</td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <ng-container matColumnDef="action">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <th mat-header-cell *matHeaderCellDef>Action</th>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--        &lt;!&ndash;                      <div class="d-flex">&ndash;&gt;-->
<!--        &lt;!&ndash;                        <div class="align-self-center" style="margin: 8px">&ndash;&gt;-->
<!--        &lt;!&ndash;                          <button mat-icon-button (click)="printOrder(element)">&ndash;&gt;-->
<!--        &lt;!&ndash;                            <mat-icon color="primary">print</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;                          </button>&ndash;&gt;-->
<!--        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <div class="align-self-center" style="margin: 8px;">&ndash;&gt;-->
<!--        &lt;!&ndash;                          <button mat-icon-button (click)="deleteOrder(element)">&ndash;&gt;-->
<!--        &lt;!&ndash;                            <mat-icon color="warn">delete</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;                          </button>&ndash;&gt;-->
<!--        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <div class="align-self-center" style="margin: 8px;">&ndash;&gt;-->
<!--        &lt;!&ndash;                          <button mat-icon-button (click)="editOrder(element)">&ndash;&gt;-->
<!--        &lt;!&ndash;                            <mat-icon color="primary">edit</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;                          </button>&ndash;&gt;-->
<!--        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--        &lt;!&ndash;                    </td>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </ng-container>&ndash;&gt;-->

<!--        &lt;!&ndash;                  <tr mat-header-row *matHeaderRowDef="orderColums"></tr>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <tr mat-row *matRowDef="let row; columns: orderColums;"></tr>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <tr mat-footer-row *matFooterRowDef="orderColums"></tr>&ndash;&gt;-->
<!--        &lt;!&ndash;                </table>&ndash;&gt;-->
<!--        &lt;!&ndash;                <mat-paginator #ordersPaginator [pageSizeOptions]="['10','50','100']"></mat-paginator>&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </mat-tab>&ndash;&gt;-->
<!--      </mat-tab-group>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<app-retail-sale [isViewedInWholesale]="true"></app-retail-sale>
