<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-panel-title class="text-center">
        Your about to delete : <b>{{' ' + data.name}}</b>
      </mat-panel-title>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="align-self-center" style="margin: 8px">
      <button [disabled]="deleteProgress" color="primary" mat-button (click)="deleteUser(data)">
        Delete
        <mat-progress-spinner *ngIf="deleteProgress"
                              matTooltip="Delete in progress..."
                              style="display: inline-block" mode="indeterminate" diameter="15"
                              color="accent"></mat-progress-spinner>
      </button>
    </div>
    <div class="alert-secondary" style="margin: 8px">
      <button [disabled]="deleteProgress" color="primary" mat-button (click)="cancel()">Cancel</button>
    </div>
  </div>
  <p class="bg-danger" *ngIf="errorUserMessage">{{errorUserMessage}}</p>
</div>
