<div>
  <div style="padding: 8px;display: flex; align-items: center;">
    <span style="flex-grow: 1"></span>
    <span>Close</span>
    <button color="primary" (click)="bottomSheetRef.dismiss(null)" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div *ngFor="let key of getKeys()">
    <mat-card-subtitle style="display: block;">{{key}}</mat-card-subtitle>
    <span style="width: 8px; height: 8px"></span>
    <h4 style="display: block">{{data[key]}}</h4>
    <mat-divider style="margin-bottom: 8px"></mat-divider>
  </div>
</div>
