<div>
  <div class="d-flex flex-row flex-wrap btn-block align-items-center">
    <mat-card-subtitle>Frequently Sold Products</mat-card-subtitle>
    <span class="flex-grow-1"></span>
    <mat-form-field appearance="outline" style="margin-right: 8px">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="pickerDate" [formControl]="dateFormControl">
      <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker [touchUi]="true" #pickerDate></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-card class="mat-elevation-z0">

    <table mat-table [dataSource]="soldProductsDatasource">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">{{element.product}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Total Sold</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Total Revenue</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      <tr mat-footer-row style="font-size: 20px" *matFooterRowDef="columns"></tr>
    </table>

    <mat-paginator #soldProductPaginator [pageSizeOptions]="[25, 50, 75, 100]" showFirstLastButtons></mat-paginator>

  </mat-card>
</div>
