<mat-card>
  <mat-card-content class="d-flex flex-row">

    <div>
      <div class="d-flex justify-content-center align-items-center flex-column" style="padding-bottom: 8px">
        <div style="padding: 16px; justify-content: center; align-items: center">
          <mat-icon style="width: 70px; height: 70px; font-size: 70px" color="primary">store</mat-icon>
        </div>
        <span style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;"
              *ngIf="shop">{{shop.businessName}}</span>
        <span style="width: 4px; height: 4px"></span>
<!--        <button style="width: 80%"-->
<!--                color="primary"-->
<!--                class="btn-block"-->
<!--                routerLink="/shop" mat-button>-->
<!--          Change Shop-->
<!--        </button>-->
      </div>
    </div>

    <span style="flex: 1 1 auto"></span>

    <div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Choose a date"
                 [satDatepicker]="picker6">
          <sat-datepicker #picker6 [rangeMode]="true"
                          [touchUi]="!enoughWidth()"
                          panelClass="range-datepicker"
                          [selectFirstDateOnClose]="true">
          </sat-datepicker>
          <sat-datepicker-toggle matSuffix [for]="picker6"></sat-datepicker-toggle>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </div>

  </mat-card-content>
</mat-card>
