<div class="my-side-nav">
  <div class="dawer-head"></div>
  <mat-accordion class="mat-elevation-z0">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Dashboard
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Sales
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item (click)="goToSale()">Retails</a>
        <a mat-list-item (click)="goToWholeSale()">WholeSale</a>
        <a mat-list-item >NHIF</a>
        <a mat-list-item >Night Sale</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Purchase
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Stock
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item (click)="goToStock()">Manage</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Expenses
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        Settings
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>
</div>
