<mat-sidenav-container class="match-parent">
  <mat-sidenav class="match-parent-side"
               [fixedInViewport]="true"
               #sidenav
               [mode]="enoughWidth()?'side':'over'"
               [opened]="true">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]=""
                 [sidenav]="sidenav"
                 [showProgress]="false">
    </app-toolbar>

    <div class="container my-profile-wrapper">
      <mat-tab-group>
        <mat-tab label="Personal Information">
          <app-profile-personal></app-profile-personal>
        </mat-tab>
        <mat-tab label="Address">
          <app-profile-address></app-profile-address>
        </mat-tab>
        <mat-tab label="Authentication">
          <app-profile-authentication></app-profile-authentication>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


