<div class="my-side-nav">
  <!--  <div class="drawer-head"></div>-->
  <mat-toolbar>
    <span>Menu</span>
  </mat-toolbar>
  <mat-accordion class="mat-elevation-z0">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-icon matPrefix color="primary">dashboard</mat-icon>
        <span style="margin-left: 8px">Dashboard</span>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-icon matPrefix color="primary">shop_front</mat-icon>
        <span style="margin-left: 8px">Sale</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/sale">Retails</a>
        <a mat-list-item routerLink="/sale/whole">WholeSale</a>
        <!--<a mat-list-item >NHIF</a>-->
        <!--<a mat-list-item >Night Sale</a>-->
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-icon matPrefix color="primary">receipts</mat-icon>
        <span style="margin-left: 8px">Purchase</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/purchase">All</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/purchase/create">Add Purchase</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-icon matPrefix color="primary">store</mat-icon>
        <span style="margin-left: 8px">Stock</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/stock">All Stocks</a>
        <a mat-list-item routerLink="/stock/create">Add Product</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <!--    <mat-expansion-panel class="mat-elevation-z0">-->
    <!--      <mat-expansion-panel-header>-->
    <!--        Expenses-->
    <!--      </mat-expansion-panel-header>-->
    <!--    </mat-expansion-panel>-->
    <!--    <mat-divider></mat-divider>-->
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-icon matPrefix color="primary">settings</mat-icon>
        <span style="margin-left: 8px">Settings</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item>General</a>
        <a mat-list-item routerLink="/sales">Manage Users</a>
      </mat-nav-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>
