.my-side-nav {
  height: 100vh;
  /*min-width: 250px;*/
  width: 100%
}

.drawer-head {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


div.mat-list-item-content {
  width: 100% !important;
}
