<section class="foo">
  <div class="top-box row">
    <div class="text-left col-md-4 ">
<!--      <a href="">Terms And Condition</a><br>-->
<!--      <a href="">Community Responsibility</a><br>-->
<!--      <a href="">Privacy Policy</a><br>-->
<!--      <a href="">About</a>-->
    </div>
    <div class="text-center col-md-4">
<!--      <a href="">Pricing</a><br>-->
<!--      <a href="">Blog & News</a><br>-->
<!--      <a href="">Feedback</a>-->
    </div>
    <div class="text-right col-md-4">
      <h3>Contacts</h3>
      <span>CoICT Block B109</span><br>
      <span>smartstocktz@gmail.com</span><br>
      <span>Science Kijitonyama</span>
    </div>
  </div>

  <div class="bottom-box row">
    <h6 class="col-md-6">+255 764 943 055</h6>
    <div class="col-md-6 text-right">
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
    </div>
  </div>

</section>
