<div class="profile-personal-wrapper">
  <mat-card class="mat-elevation-z0">
    <form *ngIf="!getUserProgress && personalForm" [formGroup]="personalForm" (ngSubmit)="updatePersonalInformation()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">

          <mat-form-field appearance="outline" class="btn-block" matTooltip="read only field">
            <mat-label>Username</mat-label>
            <input style="color: gray" matInput [formControl]="usernameFormControl" type="text" [readonly]="true">
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" type="text">
            <mat-error>first name field required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" type="text">
            <mat-error>last name field required</mat-error>
          </mat-form-field>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <mat-error>mobile field required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="btn-block">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error>email field required</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <button [disabled]="updateUserProgress" class="ft-button" mat-flat-button color="primary">
          SAVE
          <mat-progress-spinner *ngIf="updateUserProgress"
                                style="display: inline-block" [diameter]="30"
                                mode="indeterminate"
                                color="primary"></mat-progress-spinner>
        </button>
      </div>
    </form>

    <mat-progress-spinner *ngIf="getUserProgress" mode="indeterminate" color="primary"
                          [diameter]="25"></mat-progress-spinner>

    <div *ngIf="!getUserProgress && !personalForm">
      <mat-card-subtitle>
        Failure when try to fetch your personal information, try to refresh
      </mat-card-subtitle>
      <button (click)="_getCurrentUser()" mat-icon-button>
        <mat-icon color="primary">
          refresh
        </mat-icon>
      </button>
    </div>
  </mat-card>
</div>
