<mat-sidenav-container class="match-parent">
  <mat-sidenav-content>
    <app-toolbar [heading]="'Settings'"
                 [backLink] ="'/settings'"
                 [hasBackRoute]="true"
                 [showProgress]="false">
    </app-toolbar>

    <div class="my-users-wrapper">

      <mat-card-subtitle>Manage</mat-card-subtitle>

      <div style="padding-left: 16px; padding-right: 16px; margin: 8px 0" class="d-flex flex-row">
        <button (click)="openAddUserDialog()" color="primary"
                class="ft-button" mat-flat-button>
          Add User
        </button>
        <button (click)="getUsers()"
                style="margin-left: 4px"
                [disabled]="fetchUsersFlag"
                mat-flat-button color="primary">
          <mat-icon *ngIf="!fetchUsersFlag">refresh</mat-icon>
          <mat-progress-spinner *ngIf="fetchUsersFlag"
                                matTooltip="fetch users"
                                style="display: inline-block"
                                [diameter]="30" mode="indeterminate"
                                color="primary">
          </mat-progress-spinner>
        </button>
        <span class="toolbar-spacer"></span>
      </div>

      <div>
        <mat-card-subtitle>All Users</mat-card-subtitle>
        <mat-list>
          <div *ngFor="let user of users | async">
            <mat-list-item matRipple>
              <button [matMenuTriggerFor]="opts" [matMenuTriggerData]="{'user':user}"
                      color="primary" mat-icon-button
                      matSuffix>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-icon matListIcon>person</mat-icon>
              <h4 matLine>{{user.username}}</h4>
              <p matLine>{{user.role === 'manager' ? 'MANAGER' : 'SELLER'}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
        <mat-menu #opts>
          <ng-template matMenuContent let-user="user">
            <button (click)="deleteUser(user)" mat-menu-item>
              Delete
            </button>
            <button mat-menu-item (click)="updatePassword(user)">
              Update password
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


