<p>sales-landing works!</p>
<mat-sidenav-container class="match-parent">

  <mat-sidenav class="match-parent-side" #sidenav [mode]="enoughWidth()?'side':'over'" [opened]="enoughWidth()">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]="'Sale'" [sidenav]="sidenav"></app-toolbar>
    <div style="margin-top: 16px">
      <mat-card-subtitle>Manage</mat-card-subtitle>
      <mat-list>
        <mat-list-item matRipple routerLink="/sale/retail">
          <mat-icon color="primary" matListIcon>shopping_cart</mat-icon>
          <h4 matLine>Retail</h4>
          <p matLine> manage retail sales</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple routerLink="/sale/whole">
          <mat-icon color="primary" matListIcon>local_shipping</mat-icon>
          <h4 matLine>WholeSale</h4>
          <p matLine>manage whole sales</p>
        </mat-list-item>
        <mat-divider></mat-divider>
<!--        <mat-list-item matRipple routerLink="/sale/report">-->
<!--          <mat-icon color="primary" matListIcon>equalizer</mat-icon>-->
<!--          <h4 matLine>Report</h4>-->
<!--          <p matLine>{{currentUser ? currentUser.username : ''}}'s sales report</p>-->
<!--        </mat-list-item>-->
<!--        <mat-divider></mat-divider>-->
      </mat-list>
    </div>

    <!--    <div style="margin-top: 16px">-->
    <!--      <mat-card-subtitle>{{currentUser ? currentUser.username + '\'s' : ''}} quick sales reports</mat-card-subtitle>-->
    <!--      <app-sale-report></app-sale-report>-->
    <!--    </div>-->

    <app-bottom-bar></app-bottom-bar>
  </mat-sidenav-content>

</mat-sidenav-container>
