<mat-toolbar color="primary" class="sticky-top mat-elevation-z3">
<!--  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></mat-progress-bar>-->
  <mat-toolbar-row>
    <button *ngIf="!hasBackRoute && !backLink" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button routerLink="{{backLink}}" *ngIf="hasBackRoute && backLink" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{heading}}</span>
    <span style="flex: 1 1 auto"></span>
    <span *ngIf="!isMobile && showSearch" style="width: 16px"></span>
    <app-search-input [searchProgressFlag]="searchProgressFlag"
                      *ngIf="!isMobile && showSearch" style="flex: 1 1 auto"
                      [showSearch]="showSearch"
                      [searchInputControl]="searchInputControl"
                      [searchPlaceholder]="searchPlaceholder">
    </app-search-input>
    <span *ngIf="!isMobile && showSearch" style="width: 16px"></span>
    <button *ngIf="noOfProductsInCart> 0 && !isMobile" mat-icon-button (click)="cartdrawer.toggle()"
            [matBadge]="noOfProductsInCart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button *ngIf="!isMobile" class="ft-button" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="currentUser">{{"  " + currentUser.username}}</span>
    </button>
    <button *ngIf="isMobile" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <!--      <span *ngIf="currentUser">{{"  " + currentUser.username}}</span>-->
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-menu-item routerLink="/settings/profile">
        <mat-icon>person</mat-icon>
        My Profile
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isMobile && showSearch">
    <!--    <span style="flex-grow: 1"></span>-->
    <app-search-input [searchProgressFlag]="searchProgressFlag"
                      style="flex: 1 1 auto"
                      [showSearch]="showSearch"
                      [searchInputControl]="searchInputControl"
                      [searchPlaceholder]="searchPlaceholder">
    </app-search-input>
    <!--    <span style="flex-grow: 1"></span>-->
  </mat-toolbar-row>
</mat-toolbar>
