<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; padding: 8px">
  <div *ngFor="let file of files; let i =index"
       style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center">
    <mat-card style="height: 50px; margin: 5px; display: flex; flex-direction: row; align-items: center">
      <span style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
        {{file.name}}
      </span>
      <span style="width: 10px"></span>
      <button mat-icon-button style="display: inline-block" (click)="removeFile($event, i)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-card>
  </div>
  <mat-card (click)="uploadFile.click()" matRipple style="width: 120px; height: 50px; margin: 5px">
    <span>Add File</span>
  </mat-card>
</div>

<input style="display: none" #uploadFile [multiple]="false" type="file" (change)="uploadFiles($event,uploadFile)">
