<mat-sidenav-container *ngIf="!isMobile" class="match-parent">
  <mat-sidenav class="match-parent-side"
               [fixedInViewport]="true"
               #sidenav
               [mode]="enoughWidth()?'side':'over'"
               [opened]="true">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]=""
                 [sidenav]="sidenav"
                 [showProgress]="false">
    </app-toolbar>

    <div class="container my-billing-wrapper">

      <h4 class="my-billing-title">
        Billing
      </h4>

      <div class="">
        <div class="row" style="margin-bottom: 16px">
          <mat-card
            class="col-12 col-sm-12 col-md-4 col-xl-3 col-lg-3 bill-card-top mat-elevation-z0 d-flex flex-column">
            <mat-card-header>
              <h5 class="bill-card-top-title text-center">
                Payment Number
              </h5>
            </mat-card-header>
            <hr style="width: 100%; height: 1px">
            <mat-card-content class="d-flex justify-content-center align-items-center">
              <span class="bill-card-top-number">0235 2344 5406</span>
            </mat-card-content>
          </mat-card>

          <mat-card
            class="col-12 col-sm-12 col-md-4 col-xl-3 col-lg-3 bill-card-top mat-elevation-z0 d-flex flex-column">
            <mat-card-header>
              <h5 class="bill-card-top-title text-center">
                Amount Due
              </h5>
            </mat-card-header>
            <hr style="width: 100%; height: 1px">
            <mat-card-content class="d-flex justify-content-center align-items-center">
              <span class="bill-card-top-number">{{0 | currency: 'TZS '}}</span>
            </mat-card-content>
          </mat-card>

          <mat-card
            class="col-12 col-sm-12 col-md-4 col-xl-3 col-lg-3 bill-card-top mat-elevation-z0 d-flex flex-column">
            <mat-card-header>
              <h5 class="bill-card-top-title text-center">
                Uninvoiced balance
              </h5>
            </mat-card-header>
            <hr style="width: 100%; height: 1px">
            <mat-card-content class="d-flex justify-content-center align-items-center">
              <span class="bill-card-top-number">{{5000 | currency: 'TZS '}}</span>
            </mat-card-content>
          </mat-card>
        </div>

        <div style="margin-bottom: 16px" class="row">
          <div class="btn-block">
            <!--            <mat-radio-group>-->
            <mat-radio-button (change)="togglePay($event)"
                              style="margin-right: 10px; margin-bottom: 10px" color="primary"
                              labelPosition="after"
                              name="mobile"
                              [checked]="isMobilePay">
              Mobile Payment
            </mat-radio-button>
            <!--            <mat-radio-button (change)="togglePay($event)" color="primary" labelPosition="after"-->
            <!--                              name="paypal" [checked]="!isMobilePay">-->
            <!--              PayPal-->
            <!--            </mat-radio-button>-->
            <!--            &lt;!&ndash;            </mat-radio-group>&ndash;&gt;-->
          </div>
          <!--          <div *ngIf="!isMobilePay" class="btn-block">-->
          <!--            <mat-form-field appearance="outline">-->
          <!--              <mat-label>Enter Amount</mat-label>-->
          <!--              <input matInput type="number" [formControl]="amountFormControl" min="0" placeholder="Enter Amount">-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
          <button *ngIf="isMobilePay" mat-flat-button class="ft-button" color="primary">
            MAKE PAYMENT
          </button>
          <!--          <button *ngIf="!isMobilePay" mat-flat-button class="ft-button" color="primary">-->
          <!--            PAYPAL PAYMENT-->
          <!--          </button>-->
        </div>
      </div>

      <mat-tab-group>
        <mat-tab label="Invoices">
          <app-billing-invoices></app-billing-invoices>
        </mat-tab>
        <mat-tab label="Receipts">
          <app-billing-receipts></app-billing-receipts>
        </mat-tab>
      </mat-tab-group>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<app-billing-mobile *ngIf="isMobile"></app-billing-mobile>

