<mat-sidenav-container class="match-parent">
  <mat-sidenav class="match-parent-side"
               [fixedInViewport]="true"
               #sidenav
               [mode]="enoughWidth()?'side':'over'"
               [opened]="!isMobile">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]=""
                 [sidenav]="sidenav"
                 [showProgress]="false"
                 [backLink]="'/settings'"
                 [hasBackRoute]="isMobile">
    </app-toolbar>

    <div class="container my-billing-wrapper">

      <div class="col-12 col-lg-10 col-xl-10 offset-xl-1 offset-lg-1 offset-md-0 offset-sm-0">

        <div>
          <p style="padding: 10px 0">
            Your Billing
          </p>
        </div>

        <div class="row" style="margin-bottom: 16px">
          <div class="col-12 col-md-6 col-xl-6 col-sm-12 col-lg-6">
            <app-dash-card [content]="refNumber" [title]="'Reference Number'"
                           [height]="250"
                           [description]="'Your payment reference number'">
              <ng-template #refNumber>
                <div style="display: flex; height: 100%; justify-content: center; align-items: center">
                  <span style="font-size: 30px; text-space: 2px">
                    {{referenceNumber}}
                  </span>
                </div>
              </ng-template>
            </app-dash-card>
          </div>

          <div class="col-12 col-md-6 col-xl-6 col-sm-12 col-lg-6">
            <app-dash-card [content]="dueBalance" [title]="'Due Balance'"
                           [height]="250"
                           [description]="'Your overdue bill if its value its negative means you have an excess credit'">
              <ng-template #dueBalance>
                <div style="display: flex; height: 100%; justify-content: center; align-items: center">
                  <span style="font-size: 30px; text-space: 2px">
                    {{dueBill | currency:'TZS '}}
                  </span>
                </div>
              </ng-template>
            </app-dash-card>
          </div>
        </div>

        <div style="margin-bottom: 16px" class="row">
          <div class="btn-block">
            <!--            <mat-radio-group>-->
            <mat-radio-button (change)="togglePay($event)"
                              style="margin-right: 10px; margin-bottom: 10px" color="primary"
                              labelPosition="after"
                              name="mobile"
                              [checked]="isMobilePay">
              Mobile Payment
            </mat-radio-button>
            <!--            <mat-radio-button (change)="togglePay($event)" color="primary" labelPosition="after"-->
            <!--                              name="paypal" [checked]="!isMobilePay">-->
            <!--              PayPal-->
            <!--            </mat-radio-button>-->
            <!--            &lt;!&ndash;            </mat-radio-group>&ndash;&gt;-->
          </div>
          <!--          <div *ngIf="!isMobilePay" class="btn-block">-->
          <!--            <mat-form-field appearance="outline">-->
          <!--              <mat-label>Enter Amount</mat-label>-->
          <!--              <input matInput type="number" [formControl]="amountFormControl" min="0" placeholder="Enter Amount">-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
          <button *ngIf="isMobilePay" mat-flat-button class="ft-button" color="primary">
            MAKE PAYMENT
          </button>
          <!--          <button *ngIf="!isMobilePay" mat-flat-button class="ft-button" color="primary">-->
          <!--            PAYPAL PAYMENT-->
          <!--          </button>-->
        </div>

        <div class="row">
          <mat-tab-group>
            <mat-tab label="Invoices">
              <app-billing-invoices></app-billing-invoices>
            </mat-tab>
            <mat-tab label="Receipts">
              <app-billing-receipts></app-billing-receipts>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

