.match-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.match-parent-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
}

.space{
  margin-bottom: 16px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}


