.my-billing-wrapper {
  padding: 16px 36px;
}


.my-billing-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #626262;

}


.bill-card-top-title {
  font-family: Roboto Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #AAAAAA;
}

.bill-card-top-number {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

mat-card-content {
  height: 100%;
}
