<nav class="sticky-top">
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></mat-progress-bar>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{heading}}</span>
    <span class="toolbar-spacer d-flex justify-content-center align-items-center">
      <input [formControl]="searchInputControl"
             *ngIf="showSearch"
             class="toolbar-input" type="text" placeholder="{{searchPlaceholder}}">
      <!--      <button (click)="searchItem()" *ngIf="showSearch && searchInputControl.valid" matSuffix>-->
      <!--        <mat-icon>search</mat-icon>-->
      <!--      </button>-->
    </span>
    <button class="ft-button" mat-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="currentUser">{{"  "+currentUser.username}}</span>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-menu-item routerLink="/settings/profile">
        <mat-icon>person</mat-icon>
        My Profile
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>
