<nav class="sticky-top">
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></mat-progress-bar>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{heading}}</span>
    <span class="toolbar-spacer d-flex justify-content-center align-items-center">
      <input [formControl]="searchInputControl"
             *ngIf="showSearch"
             class="toolbar-input" type="text" placeholder="Type to search">
<!--      <button (click)="searchItem()" *ngIf="showSearch && searchInputControl.valid" matSuffix>-->
<!--        <mat-icon>search</mat-icon>-->
<!--      </button>-->
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_back</mat-icon>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>
