<div class="main">
  <div class="container_logo d-flex justify-content-start">
    <div class="logo">
      <img src="./assets/img/ss_logo_white 3.svg">
    </div>
  </div>
  <div class="container_shops d-flex flex-column">
    <div class="ct_shops_title d-flex justify-content-center">
      Choose Shop
    </div>
    <div class="ct_shops_profile d-flex justify-content-center">
      <div (click)="setCurrentProject(shop)" *ngFor="let shop of shops | async" class="ct_shop_profile">
        <div matRipple class="shop_profile">
          <mat-icon  style="width: 70px; height: 70px; font-size: 70px" color="primary">store</mat-icon>
        </div>
        <div class="shop_name d-flex justify-content-center"> {{shop.businessName}} </div>
      </div>

      <!--                <div class="ct_shop_profile">-->
      <!--                    <div  matRipple class="shop_profile"></div>-->
      <!--                    <div class="shop_name d-flex justify-content-center"> Mbagala </div>-->
      <!--                </div>-->

      <div class="ct_shop_profile">
        <div matRipple class="ct_add_shop d-flex justify-content-center" (click)="openCreateShopDialog()">
          <div class="add_shop_btn d-flex justify-content-center">
            <img src="./assets/img/plus_sign.svg">
          </div>
        </div>
        <div class="shop_name d-flex justify-content-center"> Add Shop</div>
      </div>

    </div>
  </div>
</div>
