<div *ngIf="!isLogin">
  <app-check-user-progress></app-check-user-progress>
</div>
<div *ngIf="isLogin">
  <mat-sidenav-container class="my-drawer-container">

    <mat-sidenav class="match-parent-side" #sidenav mode="over" [opened]="false">
      <app-nav *ngIf="true"></app-nav>
      <app-nav-user *ngIf="false"></app-nav-user>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-nav-bar [heading]="'SSM DASHBOARD'" [sidenav]="sidenav" [showProgress]="false"></app-nav-bar>

      <div class="container">

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
