// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import '~saturn-datepicker/bundle.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smartstock-primary: mat-palette($mat-green, 900); // mat-palette($mat-indigo);
//$smartstock-primary-light: #fbfffc;
//$smartstock-primary-dark: #97b498;
//$smartstock-secondary: #2e7d32;
//$smartstock-secondary-light: #60ad5e;
//$smartstock-secondary-dark: #005005;
//$smartstock-primary-text: #000000;
//$smartstock-secondary-text: #ffffff;
$smartstock-accent: mat-palette($mat-green, 500); // mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smartstock-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$smartstock-theme: mat-light-theme($smartstock-primary, $smartstock-accent, $smartstock-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($smartstock-theme);

div.mat-list-text{
  align-items: start;
}
