/*!* You can add global styles to this file, and also import other style files *!*/
/*@import "@angular/material/prebuilt-themes/deeppurple-amber.css";*/

html, body {
  /*height: 100%;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f3f2ef;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

h1 {
  /*font-weight: bold!important;*/
  /*font-size: 28px!important;*/
}

h2 {
  /*font-weight: bold!important;*/
  /*font-size: 20px!important;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f3f2ef;
}

.highcharts-credits {
  display: none !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.my-input {
  width: 100%;
}

.match-parent {
  height: 100vh;
}

.match-parent-side {
  height: 100vh;
  width: 250px;
}

/*.mytoolbar {*/
/*position: fixed;*/
/*top: 0;*/
/*height: 60px;*/
/*z-index: 1000;*/
/*}*/

button {
  outline: none !important;
}

.ft-button {
  height: 48px;
  color: white;
  font-size: 20px;
}

.table-data-row:hover {
  background: rgba(0, 128, 0, 0.09);
  cursor: pointer;
}

.editable:hover {
  outline: #0b2e13 solid 1px;
  cursor: pointer;
}


.pricing-input {
  width: 80px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background: rgba(191, 191, 191, 0.61);
  color: #000000;
  padding: 8px;
  outline: none;
}

.pricing-input::placeholder {
  color: #535353;
}

.pricing-input:focus {
  outline: none;
}

.dashboard-refresh-button {
  margin-top: 6px !important;
  margin-left: 4px !important;
}

.bill-card-top {
  height: 125px;
  /*// background: #FFFFFF;*/
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

/* width */
/*::-webkit-scrollbar {*/
/*  width: 5px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  background: rgba(0, 170, 7, 0.33);*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #0d3b18;*/
/*  border-radius: 5px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #0b2e13;*/
/*}*/


.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.cdk-virtual-scroll-content-wrapper {
  text-align: center;
  padding: 2px;
  margin-top: 8px;
}

.my-drawer-container {
  height: 100vh;
}

mat-sidenav-content {
  /*touch-action: pan-y !important;*/
}


button {
  outline: none !important;
}

div {
  outline: none !important;
}

mat-sidenav-content {
  background: transparent !important;
}

.mat-bottom-sheet-container {
  min-width: 100vw !important;
  min-height: 80vh !important;
}

p.about {
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
}

hr.line {
  border: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 600px) {
  div.land-container {
    padding-top: 0 !important;
  }

  div.malls-container {
    padding: 0 0 !important;
  }

  div.mall-container {
    border-radius: 0 !important;
    margin-bottom: 8px !important;
    box-shadow: none !important;
  }

  div.shop-container {
    padding: 0 0 100px 0 !important;
  }

  div.checkout-container {
    padding: 0 0 100px 0 !important;
  }

  div.payment-container {
    padding: 8px 0 100px 0 !important;
  }

  div.order-container {
    padding: 0 0 100px 0 !important;
  }

  div.pricing-container {
    padding: 0 !important;
  }

  div.free-pricing-container {
    padding: 0 !important;
  }

  .features-container {
    justify-content: center;
  }

  .link-container {
    margin: 3px;
  }

  .logo {
    margin-right: 2px;
  }

  .nav-item > span {
    display: none;
  }

  div.line {
    padding: 0 16px;
  }

  div.card-container {
    padding: 0 16px;
  }

  img.mobile-mode-body-logo {
    display: none !important;
  }

  div.shop-header-container {
    padding: 4px 16px !important;
  }

  div.product-container {
    border-radius: 0 !important;
    margin-bottom: 8px !important;
    box-shadow: none !important;
  }

  .name {
    font-size: 16px !important;
    margin-left: 0 !important;
  }

  div.product-head {
    height: auto !important;
  }
}
