/*!* You can add global styles to this file, and also import other style files *!*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

html, body {
  /*height: 100%;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.my-input {
  width: 100%;
}

.match-parent {
  height: 100vh;
}

.match-parent-side {
  height: 100vh;
  width: 250px;
}

/*.mytoolbar {*/
/*position: fixed;*/
/*top: 0;*/
/*height: 60px;*/
/*z-index: 1000;*/
/*}*/

button {
  outline: none !important;
}

.ft-button{
  height: 54px;
  color: white;
  font-size: 24px;
}

.table-data-row:hover {
  background: rgba(0, 128, 0, 0.09);
  cursor: pointer;
}

.editable:hover {
  outline: #0b2e13 solid 1px;
  cursor: pointer;
}
