/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toolbar-spacer{
  flex: 1 1 auto;
}
.my-input{
  width: 100%;
}

.match-parent {
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  height: 100vh;
}

.match-parent-side {
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  height: 100vh;
  width: 300px;
}
/*.mytoolbar {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*height: 60px;*/
  /*z-index: 1000;*/
/*}*/
