<div class="dawer-head"></div>
<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      Dashboard
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      Sale
    </mat-expansion-panel-header>
    <mat-action-list>
      <button mat-list-item="">Retails</button>
      <button mat-list-item>WholeSale</button>
      <button mat-list-item>NHIF</button>
      <button mat-list-item>Night Sale</button>
    </mat-action-list>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      Profile
    </mat-expansion-panel-header>
    <mat-action-list>
      <button mat-list-item="">View</button>
      <button mat-list-item="">Logout</button>
    </mat-action-list>
  </mat-expansion-panel>

</mat-accordion>
