

.card-container {
    width: 135px;
    height: 170px;
    margin: 8px;
    position: relative;
    transition: width 1s;
   }
   
   .flippable-card {
     position: relative;
     transform-style: preserve-3d;
     transition: transform 1s;
   
   }
   
   .flippable-card mat-card {
     margin: 0;
     display: block;
     position: absolute;
     width: 132px;
     min-height: 150px;
     backface-visibility: hidden;
   }
   
   .flippable-card .back {
     background: #f0f0f0;
     transform: rotateY( 180deg );
     width: 326px;
   }
   
   .flippable-card.flipped {
     transform: rotateY( 180deg );
   }
   .card-container.flipped{
     width: 326px;
   }
   
   