<mat-sidenav-container class="match-parent">
  <mat-sidenav class="match-parent-side"
               [fixedInViewport]="true"
               #sidenav
               [mode]="enoughWidth()?'side':'over'"
               [opened]="false">
    <app-admin-drawer></app-admin-drawer>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [heading]="'Stock'"
                 [showSearch]="true"
                 (searchCallback)="handleSearch($event)"
                 [sidenav]="sidenav"
                 [showProgress]="showProgress">
    </app-toolbar>

    <div class="container">

      <div class="row" style="margin: 16px">
        <div class="full-width col-12">
          <mat-tab-group color="primary">
            <mat-tab label="Products">
              <!--              <mat-form-field class="my-input" style="margin-top: 8px">-->
              <!--                <input matInput placeholder="Search" type="text" [formControl]="searchStockControl"/>-->
              <!--              </mat-form-field>-->
              <div>
                <mat-card class="mat-elevation-z0">
                  <table mat-table [dataSource]="stockDatasource">

                    <ng-container matColumnDef="product">
                      <th mat-header-cell *matHeaderCellDef>Product</th>
                      <td mat-cell *matCellDef="let element">{{element.product}}</td>
                      <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef>Quantity</th>
                      <td mat-cell *matCellDef="let element">{{element.quantity | number}}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="purchase">
                      <th mat-header-cell *matHeaderCellDef>Purchase (TZS)</th>
                      <td mat-cell *matCellDef="let element">{{element.purchase | number}}</td>
                      <td mat-footer-cell *matFooterCellDef>
                        <b>{{totalPurchase | async | currency:'TZS '}}</b>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="retailPrice">
                      <th mat-header-cell *matHeaderCellDef>R.Price (TZS)</th>
                      <td matRipple mat-cell *matCellDef="let element">{{element.retailPrice | number}}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="wholesalePrice">
                      <th mat-header-cell *matHeaderCellDef>W.Price (TZS)</th>
                      <td mat-cell
                          *matCellDef="let element">{{element.wholesalePrice | number}}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="expire">
                      <th mat-header-cell *matHeaderCellDef>Expire</th>
                      <td mat-cell *matCellDef="let element">{{element.expire | date}}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>
                        <div class="d-flex flex-row justify-content-end align-items-end">
                          <span>Actions</span>
                        </div>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="d-flex flex-row flex-nowrap justify-content-end align-items-end">
                          <button [matMenuTriggerFor]="menu"
                                  mat-icon-button>
                            <mat-icon color="primary">more_vert</mat-icon>
                          </button>
                          <mat-menu #menu>
                            <button mat-menu-item [matTooltip]="'change product information'"
                                    (click)="viewProduct(element)">View
                            </button>
                            <button mat-menu-item [matTooltip]="'change product information'"
                                    (click)="editStock(element)">Edit
                            </button>
                            <button mat-menu-item [matTooltip]="'permanent delete stock'"
                                    (click)="deleteStock(element)">Delete
                            </button>
                          </mat-menu>
                        </div>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="stockColumns"></tr>
                    <tr matTooltip="{{row.product}}" class="table-data-row" mat-row
                        *matRowDef="let row; columns: stockColumns;"></tr>
                    <tr mat-footer-row style="font-size: 36px" *matFooterRowDef="stockColumns"></tr>

                  </table>
                </mat-card>
                <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
              </div>
            </mat-tab>

            <mat-tab label="Categories">
              <app-categories></app-categories>
            </mat-tab>

            <mat-tab label="Units">
              <app-suppliers></app-suppliers>
            </mat-tab>

            <mat-tab label="Suppliers">
              <app-units></app-units>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

