<div id="cart_view" class="cart">
  <mat-toolbar class="mat-elevation-z3" style="z-index: 10000">

    <span [matBadge]="cartProductsArray.length.toString()" matBadgeOverlap="false">Cart</span>
    <span style="flex-grow: 1;"></span>
    <button mat-icon-button (click)="cartdrawer.toggle()" style="float: right;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div style="padding: 5px 0 0 0" *ngIf="isViewedInWholesale">
    <div style="width: 100%; padding: 6px">
      <input autocomplete="false"
             style="border: none; background-color: rgba(0, 170, 7, 0.1);
             padding: 4px; border-radius: 4px;width: 100%; height: 48px;"
             [formControl]="customerFormControl" placeholder="Customer Name"
             type="text" [matAutocomplete]="auto">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of customers | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div style="margin-bottom: 300px">
    <mat-list>
      <div *ngFor="let cart of cartProducts | async; let i=index">
        <mat-list-item>
          <button (click)="removeCart(i)" matSuffix mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <h4 matLine>{{cart.product.product}}</h4>
          <mat-card-subtitle
            matLine>{{isViewedInWholesale ? '(' + cart.product.wholesaleQuantity + ') ' : ''}}{{cart.quantity}} {{cart.product.unit}}
            @{{isViewedInWholesale ? cart.product.wholesalePrice : cart.product.retailPrice}}
            = {{cart.quantity * (isViewedInWholesale ? cart.product.wholesalePrice : cart.product.retailPrice) | number}}
          </mat-card-subtitle>
          <div class="d-flex flex-row" matLine>
            <button color="primary" (click)="decrementQty(i)" mat-icon-button>
              <mat-icon>remove_circle</mat-icon>
            </button>
            <button color="primary" (click)="incrementQty(i)" mat-icon-button>
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider style="margin-left: 5%; margin-right: 5%"></mat-divider>
      </div>
    </mat-list>
  </div>

  <div
    style="padding: 8px 8px 16px 8px;bottom: 0;width: 100%;position: absolute;background-color: white;z-index: 1000;">
    <mat-divider style="margin-bottom: 7px"></mat-divider>
    <div class="cart-total">
      <h6 style="display: flex;">
        <span style="flex-grow: 1;">Total</span>
        <span>{{totalCost | currency: 'TZS '}}</span>
      </h6>
      <p style="color: #868688;display: flex;">
        <span style="flex-grow: 1;">Discount( TZS )</span>
        <input autocomplete="false"
               style="border: none; text-align: center;background-color: rgba(0, 170, 7, 0.1);
                border-radius: 4px;width: 125px; height: 35px;"
               type="number" min="0" [formControl]="discountFormControl">
      </p>
    </div>
    <button [disabled]="checkoutProgress" (click)="checkout()" style="width: 100%;text-align:left;height: 54px;font-size: 20px" color="primary"
            mat-raised-button>
      <span *ngIf="!checkoutProgress">Checkout</span>
      <mat-progress-spinner color="primary" *ngIf="checkoutProgress" mode="indeterminate" diameter="25" style="display: inline-block"></mat-progress-spinner>
      <span style="float: right;">{{totalCost | currency: 'TZS '}}</span>
    </button>
  </div>

</div>
